:root {
  --font-scaler:  calc(32px + (64 - 32) * ((100vw - 300px) / 1300));
}

body {
    margin: 0;
    background: white;
}

#hero-text {
    font-size: calc(24px + (64 - 24) * ((100vw - 300px) / 1300));
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin: 8% auto;
}

#blog-container {
    display: flex;
    flex-flow: column wrap;
    margin: 5% 15%;
}

.blog {
    width: 100%;
    height: auto;
    padding: 20px;
    background-color: rgba(200, 200, 200, 0.2);
    margin-bottom: 35px;
    border-radius: 0.5rem;
    transition: box-shadow 0.2s ease-in-out;
}

.blog:hover {
    box-shadow: 0.4rem 0.4rem 1rem 0.1rem rgb(229, 229, 229);
}

.blog .title-date {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog h1 {
    font-size: calc(16px + (32 - 16) * ((100vw - 300px) / 1300));
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    margin: 0;
}

.blog h2 {
    font-size: calc(14px + (28 - 14) * ((100vw - 300px) / 1300));
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #666;
    margin: 0;
}

.blog .desc {
    font-weight: 400;
    font-size: calc(12px + (24 - 12) * ((100vw - 300px) / 1300));
    font-family: 'Lato', sans-serif;
    margin: 10px 0 0 0;
}
